extends layout

block head
    script(src="/javascripts/config.js")

block content
    div.container
        div.row
            div.col-md-6.col-md-offset-3
                form(enctype='application/json', action="/config/define", method="POST", role="form")
                    div.form-group
                        label(for="eventName") Event name
                        input#eventName.form-control(type="text", name="eventName")
                    div.form-group
                        label(for="eventStartDate") Start date
                        input#eventStartDate.form-control(type="date", name="eventStartDate")
                        input#eventStartTime.form-control(type="time", name="eventStartTime")
                    div.form-group
                        label(for="eventEndDate") End date
                        input#eventEndDate.form-control(type="date", name="eventEndDate")
                        input#eventEndTime.form-control(type="time", name="eventEndTime")
                    div.form-group
                        label(for="message") Message
                        input#message.form-control(type="text", name="message")
                    div.form-group
                        label(for="twitterWidgetId") Twitter widget ID
                        input#twitterWidgetId.form-control(type="text", name="twitterWidgetId")
                    input.btn.btn-primary(type="submit", value="Submit")
                    | &nbsp;
                    a.btn.btn-default(href="/") Cancel

    script.
        $(function () {
            var dateStartString = zeroPadding(#{config.eventStartYear})+'-'+zeroPadding(#{config.eventStartMonth})+'-'+zeroPadding(#{config.eventStartDay});
            var timeStartString = zeroPadding(#{config.eventStartHour})+':'+zeroPadding(#{config.eventStartMinute});
            var dateEndString = zeroPadding(#{config.eventEndYear})+'-'+zeroPadding(#{config.eventEndMonth})+'-'+zeroPadding(#{config.eventEndDay});
            var timeEndString = zeroPadding(#{config.eventEndHour})+':'+zeroPadding(#{config.eventEndMinute});
            $('#eventStartDate').val(dateStartString);
            $('#eventStartTime').val(timeStartString);
            $('#eventEndDate').val(dateEndString);
            $('#eventEndTime').val(timeEndString);
            $('#eventName').val('#{config.eventName}');
            $('#message').val('#{config.message}');
            $('#twitterWidgetId').val('#{config.twitterWidgetId}');
        });
