extends layout

block head
    script(src="/javascripts/main.js")

block content
    div.config
        a.btn.btn-default(type="button", href="/config/display")
            span.glyphicon.glyphicon-cog
    div.message
    div.content
        div
            div.countdown
                div.caption
                div.digits
                    div
                        span#days 00
                        | days
                    div
                        span#hours 00
                        | hours
                    div
                        span#minutes 00
                        | minutes
                    div
                        span#seconds 00
                        | seconds
        div
            a.twitter-timeline(href="", data-widget-id="#{twitterWidgetId}")
            script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    div.clouds

    script.
        var eventName = '#{eventName}',
        startDate = new Date(#{eventStartYear}, #{eventStartMonth}-1, #{eventStartDay}, #{eventStartHour}, #{eventStartMinute}),
        endDate = new Date(#{eventEndYear}, #{eventEndMonth}-1, #{eventEndDay}, #{eventEndHour}, #{eventEndMinute});



// 471850786448625664