doctype html
html
    head
        title= title
        link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
        link(href="/stylesheets/screen.css", rel="stylesheet")
        link(href="//fonts.googleapis.com/css?family=Sanchez", rel="stylesheet")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
        script(src="/javascripts/underscore-min.js")
        script(src="/javascripts/underscore.string.min.js")
        script(src="/javascripts/bootstrap.min.js")
        block head
    body
        block content