body > .message {
  font-size: 64px;
  padding: 0.5em 0.5em 0.75em;
  text-align: center;
}

body > .config {
    position: absolute;
    right: 5px;
    top: 5px;
}

.clouds {
  background: url("/images/clouds.png") center no-repeat;
  bottom: 0;
  height: 224px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: -1;
}

.content {
  display: table;
  width: 100%;
}

.content > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}

.countdown {
  display: table;
  font-size: 32px;
  margin: 0 auto;
  text-transform: uppercase;
}

.countdown > .caption {
  display: table-header-group;
}

.countdown > .digits > div {
  display: table-cell;
  padding: 20px;
  position: relative;
}

.countdown > .digits > div:not(:last-child):after {
  content: ":";
  position: absolute;
  right: -9px;
  top: 48px;
  font-size: 64px;
  font-weight: bold;
}

.countdown span {
  display: block;
  font-size: 144px;
  line-height: 100%;
  width: 175px;
  text-align: left;
}

html {
  min-height: 100%;
  min-width: 100%;
}

body {
    background: -moz-linear-gradient(top, #F0FAFF, #BADCF1) fixed;
    background: -webkit-linear-gradient(top, #F0FAFF, #BADCF1) fixed;
    background: linear-gradient(to bottom, #F0FAFF, #BADCF1) fixed;
    color: #036;
    font-family: Sanchez, serif !important;
}
